.grid {
    display: inline-block;
    min-width: 1025px;
    min-height: 1025px;
}

.cell {
    width: 9px;
    height: 9px;
    border: 1px solid #eee;
    display: inline-block;
}

.row {
    height: 10px;
}

.nest-btn {
    background-image: url('../images/homeIcon.png');
}
.screen {
    display: inline;
}

.food {
    background-color: #4caf50;
}

.pheromone {
    background-color: #2196f3;
}

.column {
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
    gap: 10px;
    width: 40px;
}

.ant-Pic {
    margin-left: 20px;
    margin-top: 275px;
    rotate: 30deg;
    width: 256px;
    height: 256px;
}

.ants11-20 {
    background-color: #8ae300;
}

.ants5-10 {
    background-color: #f1da3f;
}

.ant {
    background-color: rgba(184, 170, 133, 0.5);
}

.start {
    background-color: #f1521a;
}

button {
    margin-bottom: 10px;
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btnStartState1 {
    background-image: url('../images/startIcon.png');
}

.btnStartState2 {
    background-image: url('../images/startIcon2.png');
}

#startBtn:hover {
    background-image: url('../images/startIcon2.png');
}

#startBtn:active {
    background-image: url('../images/startIcon2.png');
}

#removeAllBtn {
    background-image: url('../images/krest.png');
}

#removeAllBtn:hover {
    background-image: url('../images/krest2.png');
}

#removeAllBtn:active {
    background-image: url('../images/krest2.png');
}

button[onclick='clr()'] {
    background-image: url(../images/refreshIcon.png);
}

button[onclick='clr()']:hover {
    background-image: url('../images/refreshIcon2.png');
}

button[onclick='clr()']:active {
    background-image: url('../images/refreshIcon2.png');
}

.wall-btn {
    background-image: url(../images/wallIcon.png);
}

.food-btn {
    background-image: url(../images/foodIcon.png);
}

.remove-btn {
    background-image: url(../images/mopIcon.png);
}

.user-info {
    margin: 20px;
    font-family: monospace;
    color: #666;
}

.wall {
    background-color: rgb(152, 152, 159);
}

.side-wall {
    background-color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.text-field {
    margin-top: 5px;
    margin-bottom: 1rem;
}
.text-field__input {
    text-align: center;
    display: block;
    height: 40px;
    width: 45px;
    font-family: Arial, serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    color: #212529;
    background-clip: padding-box;
    border: 2px solid black;
    border-radius: 0.25rem;
}

@media screen and (max-width: 1850px) {
    .side-border-left,
    .side-border-right {
        display: none;
    }
    .interview-right {
        margin-left: 5%;
        width: 90%;
    }
    .interview-left {
        margin-left: 25%;
        width: 90%;
    }

    .main-part {
        width: 100%;
        margin-left: 0;
    }

    body {
        min-width: 100%;
    }
}
