body {
    margin: 0;
    display: inline-flex;
    overflow: auto;
}

button:hover {
    cursor: pointer;
}

label:hover {
    cursor: pointer;
}

.text-field {
    margin-top: 5px;
    margin-bottom: 1rem;
}

#header {
    display: flex;
    flex-direction: row;

    width: 100%;
    background-color: white;
    position: sticky;
    border-bottom: 1px solid black;
    /*border: 1px solid black;
    border-radius: 10px;
    margin-top: 2vh;
    margin-right: 4px;
    margin-left: 4px;*/
}

.go-to-algorithm-button {
    display: inline-block;
    padding: 3vh;
    padding-right: 2vw;
    padding-left: 2vw;
    border-right: 1px solid black;
    flex-grow: 1;
    font-weight: 120;
    font-size: 20px;
    font-family: 'Arial', serif;
    line-height: 1;
}

.go-to-algorithm-button:hover {
    cursor: pointer;
    background-color: rgb(60, 51, 51);
    color: white;
}

.main-part {
    width: 74%;
    text-align: center;
    margin-left: 13%;
    display: table-column;
}

.interview-right {
    font-weight: 120;
    margin-left: 5%;
    width: 80%;
    margin-top: 10px;
    text-align: left;
    font-size: 20px;
    font-family: 'Arial', serif;
    padding: 0;
    display: inline-block;
    line-height: 1;
}

.interview-left {
    font-weight: 120;
    margin-left: 25%;
    width: 70%;
    margin-top: 10px;
    text-align: left;
    font-size: 20px;
    font-family: 'Arial', serif;
    padding: 0;
    display: inline-block;
    line-height: 1;
}

.bottom {
    width: 100%;
    height: 300px;
}

.algorithm-main-part {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.interview-container {
    text-align: left;
}

.grid {
    display: inline-block;
    min-width: 1025px;
    min-height: 1025px;
}

.screen {
    display: inline;
}

.algorithm-settings {
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
}

.interactive-elements {
    margin-top: 70px;
    flex-direction: row;
    gap: 10px;
    display: inline-flex;
}

.algorithm-symbol {
    margin-left: 20px;
    rotate: 30deg;
    width: 256px;
    height: 256px;
}

button {
    margin-bottom: 10px;
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.general-button {
    display: block;
    border: 1px solid black;
    height: 4vh;
    color: black;
    border-radius: 10px;
}

.general-input {
    display: block;
    border: 1px solid black;
    height: 4vh;
    color: black;
    border-radius: 10px;
    box-sizing: border-box;
}

.general-prediction {
    font-weight: 120;
    width: 100%;
    font-family: 'Arial', serif;
    padding: 0;
    display: inline-block;
    line-height: 1;
}

.underline {
    width: 500px;
    height: 1px;
    background-color: black;
    margin: 10px auto 10px 5%;
}

.header-text {
    margin-top: 10vh;
    text-align: left;
    font-size: 100px;
    font-family: 'Arial', serif;
    padding: 0;
    display: inline-block;
    line-height: 1;
}

.side-border-left {
    background-image: url('Ants/images/sideBarImage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    left: 0;
    width: 13vw;
    height: 100%;
    z-index: 10;
}

.side-border-right {
    background-image: url('Ants/images/sideBarImage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    right: 0;
    width: 13vw;
    height: 100%;
    z-index: 10;
}

.interactive-elements {
    margin-top: 70px;
    flex-direction: row;
    gap: 10px;
    display: inline-flex;
}

@media screen and (max-width: 1850px) {
    .side-border-left,
    .side-border-right {
        display: none;
    }
    .interview-right {
        margin-left: 5%;
        width: 90%;
    }
    .interview-left {
        margin-left: 25%;
        width: 90%;
    }

    .main-part {
        width: 100%;
        margin-left: 0;
    }

    body {
        min-width: 100%;
    }
}
