#header {
    height: 7vh;
    background-color: beige;
    position: sticky;
}

.go-to-algorithm-button {
    display: inline-block;
    padding: 0.5vw;
    padding-right: 2vw;
    padding-left: 2vw;
    border-right: 1px solid black;
    /*margin-left:1vw;
    margin-right:1vw;*/
}

.go-to-algorithm-button:hover {
    cursor: pointer;
    background-color: cyan;
}

#board {
    display: grid;
    width: fit-content;
    padding: 20px;
}

.board-tile {
    background-color: white;
    width: 4vw;
    height: 4vw;
    border: 1px solid black;
    display: inline-block;
}

/*.tile-empty {
}*/
.tile-filled {
    background-color: brown;
}
