.grid {
    display: inline-block;
    min-width: 1025px;
    min-height: 1025px;
}

.cell {
    display: inline-block;
    width: 45px;
    height: 45px;
    border: 1px solid #eee;
}

.sub-cell{
    width: 15px;
    height: 45px;
    display: inline-block;
}

.sub-sub-cell{
    width: 50%;
    height: 45px;
    display: inline-block;
}


.row {
    height: 46px;
}

.screen {
    display: inline;
}

.column {
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
    gap: 10px;
    width: 60px;
}


#kmeans-start-btn {
    margin-top: 100px;
    width: 60px;
    height: 60px;
}

#kmeans-start-btn:hover{
    background-image: url("../images/oneActive.png");
}

.kmeans-start-btn-activate{
    background-image: url("../images/oneActive.png");
}

.kmeans-start-btn-deactivate{
    background-image: url("../images/one.png");
}

#hierarchical-start-btn{
    margin-top: 100px;
    width: 60px;
    height: 60px;
}

#hierarchical-start-btn:hover{
    background-image: url("../images/twoActive.png");
}

.hierarchical-start-btn-activate{
    background-image: url("../images/twoActive.png");
}

.hierarchical-start-btn-deactivate{
    background-image: url("../images/two.png");
}

#miniBatchKMeans-start-btn{
    margin-top: 100px;
    width: 60px;
    height: 60px;
}

#miniBatchKMeans-start-btn:hover{
    background-image: url("../images/threeActive.png");
}

.miniBatchKMeans-start-btn-activate{
    background-image: url("../images/threeActive.png");
}

.miniBatchKMeans-start-btn-deactivate{
    background-image: url("../images/three.png");
}


.user-info {
    margin: 20px;
    font-family: monospace;
    color: #666;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.text-field {
    margin-top: 100px;
    margin-bottom: 1rem;
}
.text-field-input {
    text-align: center;
    display: block;
    height: 60px;
    width: 75px;
    font-family: Arial, serif;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5;
    color: #212529;
    background-clip: padding-box;
    border: 2px solid black;
    border-radius: 0.25rem;
}

.clear-Btn{
    margin-top: 80px;
    color: white;
    border: none;
    width: 55px;
    height: 55px;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/mopIcon.png);
}

@media screen and (max-width: 1850px) {
    .side-border-left,
    .side-border-right {
        display: none;
    }
    .interview-right {
        margin-left: 5%;
        width: 90%;
    }
    .interview-left {
        margin-left: 25%;
        width: 90%;
    }

    .main-part {
        width: 100%;
        margin-left: 0;
    }

    body {
        min-width: 100%;
    }
}
