.algorithm-decision-tree-button {
    width: 100%;
    padding: 0.5vw;
}

.algorithm-decision-tree-button:hover {
    background-color: black;
    color: white;
}

.algorithm-decision-tree-input {
    width: 100%;
    padding: 0.5vw;
    margin-bottom: 10px;
}

#algorithm-decision-tree-prediction {
    margin-left: 5%;
    margin-top: 10px;
    text-align: left;
    font-size: 20px;
}

.algorithm-decision-tree-interactive-elements {
    flex-direction: column;
    width: 100%;
}

.algorithm-decision-tree-algorithm-settings {
    width: 100%;
}

#algorithm-decision-tree-settings {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.algorithm-settings-decision-tree-settings-block {
    margin: auto;
}

.algorithm-decision-tree-settings-section-header {
    display: block;
    font-weight: 120;
    margin-left: 5%;
    margin-top: 10px;
    font-size: 30px;
    font-family: 'Arial', serif;
    padding: 0;
    line-height: 1;
}

#algorithm-decision-tree-file-upload {
    display: none;
}

.algorithm-decision-tree-file-upload-file-upload-label {
    width: 60%;
    padding: 0.5vw;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.algorithm-decision-tree-file-upload-file-upload-label:hover {
    background-color: black;
    color: white;
}

.algorithm-decision-tree-board {
    width: 100%;
}

#algorith-decision-tree-graph {
    width: 100%;
}

.algorithm-decision-tree-tree-paramemters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 20vw;
}
.algorithm-decision-tree-tree-paramemters p {
    width: 40%;
}
.algorithm-decision-tree-tree-paramemters input {
    width: 60%;
    margin-bottom: 0px;
}

@media screen and (max-width: 1200px) {
    .algorithm-settings-decision-tree-settings-block {
        width: 35vw;
        display: flex;
        flex-wrap: wrap;
    }
    .algorithm-decision-tree-button {
        width: 30vw;
    }
    .algorithm-decision-tree-input {
        width: 30vw;
    }
    .algorithm-decision-tree-tree-paramemters {
        width: 30vw;
    }
}
