#algorithm-genetics-graphCanvas {
    border: 1px solid rgb(174, 174, 174);
    display: block;
    margin-right: 0;
    margin-left: 0;
    cursor: pointer;
}

.algorithm-genetics-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 8vw;
}

.small-button-symbol,
.small-button-symbol:hover,
.small-button-symbol.pressed {
    margin-bottom: 10px;
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#algorithm-genetics-size {
    width: 8vw;
    padding: 0.5vw;
    margin-bottom: 10px;
    text-align: right;
}

.algorithm-genetic-generate-button {
    width: 8vw;
    padding: 0.5vw;
}

.algorithm-genetics-symbol {
    rotate: 320deg;
    margin-top: 6vh;
}
