#algorithm-neural-network-drawing-canvas {
    border: 2px solid black;
}

.neural-network-button {
    width: 10vw;
    padding: 0.5vw;
}

.neural-network-button:hover {
    background-color: black;
    color: white;
}

#algorithm-neural-network-retrain-model-input {
    width: 10vw;
    padding: 0.5vw;
    margin-bottom: 10px;
}

#algorithm-neural-network-digit-prediction {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 40px;
}

.algorithm-neural-network-certainty-container {
    width: 100%;
    background-color: #eee;
    border-radius: 1vh;
    overflow: hidden;
    height: 2vh;
    margin: 1vh 0;
}

.algorithm-neural-network-certainty-bar {
    height: 100%;
    background-color: #4caf50;
    text-align: right;
    padding-right: 4px;
    font-size: 15px;
    line-height: 2vh;
    color: black;
}

.algorithm-neural-network-general-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.algorithm-neural-network-settings-container {
    width: 30vw;
}

.algorithm-neural-network-board-manipulation-container {
    width: 45%;
    border: 1px solid black;
    padding-right: 3px;
    padding-left: 3px;
    padding-top: 3px;
    border-radius: 10px;
    margin-bottom: 5px;
}

#algorithm-neural-network-digit-prediction-wrapper {
    width: 100%;
    border: 1px solid black;
    padding-right: 3px;
    padding-left: 3px;
    padding-top: 3px;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-right: 2.5%;
    margin-left: 2.5%;
    height: 12vh;
    align-items: center;
    justify-content: space-evenly;
}

#algorithm-neural-network-digit-all-predictions-container {
    width: 100%;
    justify-content: space-around;
}

.algorithm-neural-network-predicted-digit {
    display: block;
}

.algorithm-neural-network-prediction-block-wrapper {
    width: 30%;
    border: 1px solid black;
    padding-right: 3px;
    padding-left: 3px;
    padding-top: 3px;
    border-radius: 10px;
    margin-bottom: 5px;
}

#algorithm-neural-network-digit-prediction-container {
    width: 50%;
}

#algorithm-neural-network-digit-prediction-title {
    width: 25%;
}
